{% extends "layout.html" %}

{% block content %}
{% for coin in stream %}
    <article>
        <h2>
            <a href="{{ url_for('coin', username=coin.user.username) }}">{{ coin.user.username }}</a>
        </h2>
        <i class="clock"></i>
        <time data-time="{{ coin.timestamp.timestamp() }}"
              class="distime"
              datetime="{{ coin.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">
                {{ coin.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
        </time>
        <div class="coin">
            {{ coin.eth }} Ether to {{ coin.tink }} Tink
        </div>
    </article>
{% endfor %}
{% endblock %}